html, body {
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
  font-size: 30px;
}

.login {
  margin: 20px;
}

#email {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #eee;
  font-size: 30px;
  padding: 10px;
  border-radius: 3px;
}

#password {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eee;
  margin-bottom: 10px;
  display: block;
  font-size: 30px;
  padding: 10px;
  border-radius: 3px;
}

.login-button {
  width: 100%;
  border: 1px solid #eee;
  display: block;
  font-size: 30px;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border-radius: 3px;
}

.orgs a {
  display: block;
  padding: 10px;
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.apps a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #eee;
}

.apps a img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

.apps a span {
  margin-left: 20px;
  vertical-align: middle;
}

.app {
  text-align: center;
}

.app h1 {
}

